{
  "extends": [
    "airbnb/base",
    "plugin:flowtype/recommended"
  ],
  "globals": {
    "afterAll": true,
    "beforeAll": true,
    "expect": true,
    "test": true,
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ]
}
